extends ../../../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add_member.js')

block content_right


block content
	a.back_link(href='/auth/edit/members') < Назад
	.title РЕДАКТИРОВАТЬ УЧАСТНИКА
	br
	form(action="", method="post", enctype="multipart/form-data")
		.form_title Имя:
		input.ru(type="text", name="ru[name]", value=member.ru.name)
		input.en(type="text", name="en[name]", value=member.en.name, disabled)
		.form_title Описание:
		textarea.ru(name="ru[description]", rows="8",)= member.ru.description
		textarea.en(name="en[description]", rows="8", disabled)= member.en.description
		//- .form_title Статус:
		//- .snake
			input.back(type="button", value="<")
			select(name='status')
				option(value='actor') Актер
				option(value='director') Режисер
				option(value='author') Автор
				option(value='playwright') Драматург
				option(value='choreographer') Хореограф
				option(value='composer') Композитор
				option(value='photographer') Фотограф
				option(value='artist') Художник
				option(value='producer') Продюссер
				option(value='curator') Куратор
				option(value='lecturer') Лектор
				option(value='theoretician') Теоретик
				option(value='art_director') Художественный руководитель
				option(value='sub_director') Помощник режиссера
				option(value='tech_director') Технический директор
				option(value='video_artist') Видеохудожник
				option(value='audio_director') Звукорежиссер
				option(value='multi_artist') Мультимедиахудожник
				option(value='scenographer') Сценограф
				option(value='consultant') Консультант
				option(value='effects') Спецэффекты
			input.forward(type="button", value=">")
		//- .form_title Фото:
		//- input(type="file", name="img")
		br
		br
		input(type='button', class='toggle_eng', value='Перевод')
		input(type="submit", value="Редактировать")