doctype 5
html
	head
		include header
	body
		.maket
			.main_block
				.header_block
					a(href='/')
						img.logo_block(src='/images/design/logo.png')
					.menu_block
						a.menu_item(href='/about') О НАС
						br
						a.menu_item(href='/concept') КОНЦЕПЦИЯ
						br
						a.menu_item(href='/srvices') УСЛУГИ
						br
						a.menu_item(href='/contacts') КОНТАКТЫ
					.social_block
						.instagramm
						.facebook
						.vk
				.content_block
					block content
				.footer_block
