doctype 5
html
	head
		include header
	body
		.maket
			.main_block
				.header_block
					a(href='/')
						img.logo_block(src='/images/design/logo.png')
					.menu_block
						a(href='/about') о нас
						br
						a(href='/concept') концепция
						br
						a(href='/srvices') услуги
						br
						a(href='/contacts') контакты
					.social_block
						a(href='#')
							img(src='/images/design/social/facebook.png')
						a(href='#')
							img(src='/images/design/social/vk.png')
						a(href='#')
							img(src='/images/design/social/instagram.png')
				.content_block
					block content
				.footer_block
