extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/error.css' + version)

block content
	.error_title ОШИБКА
	.error_s_title нет такой страницы!
	img.error_image(src='/images/design/error.jpg')