extends ../layout

block title
	title КОНЦЕПЦИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)

block content
	.content_title_block  концепция
	.content_left_block Runt ut od quundunt, eariorit, sequia doloreribea cullese ctatum is est, sim et et, odipsum voles re
	.content_main_block
		.image
	.content_right_block vendemo opti quis auda si iliqui aligenim faces autat. Am se necest alit escitio sandant et fu
	.content_bottom_block «Моя миссия - создавать необычное и востребованное. Мой клиент- человек, который не боится оригинальных решений в дизайне, потому что знает, что это ключ к успеху в развитии его бизнеса. Моя страсть- логотипы. Для многих людей это всего лишь символ, знак или сочетание букв. Я считаю, чтобы создать востребованный логотип, необходимо наполнить его тремя качествами: