extends ../layout

block title
	title КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)

block content
	.content_title_block  контакты
	.content_left_block Runt ut od quundunt, eariorit, sequia doloreribea cullese ctatum is est, sim et et, odipsum voles re
	.content_main_block
		.image
	.content_right_block vendemo opti quis auda si iliqui aligenim faces autat. Am se necest alit escitio sandant et fu