extends ../layout

block title
	title УСЛУГИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)

block content
	.content_title_block Услуги
	.content_left_block
		.select_item рекламная открытка
		.select_item фирменный стиль
		.select_item логотип
		.select_item визитки
		.select_item листовка/флаер
		.select_item билет
		.select_item фирстиль мероприятия
		.select_item буклет
		.select_item инфо-табличка
	.service_block
		.content_main_block
			.image 1
		.content_right_block
			.about 1
			.terms 1
			.price 1
		.content_bottom_block 1
	.service_block
		.content_main_block
			.image 2
		.content_right_block
			.about 2
			.terms 2
			.price 2
		.content_bottom_block 2
	.service_block
		.content_main_block
			.image 1
		.content_right_block
			.about 1
			.terms 1
			.price 1
		.content_bottom_block 3
	.service_block
		.content_main_block
			.image 2
		.content_right_block
			.about 2
			.terms 2
			.price 2
		.content_bottom_block 4
	.service_block
		.content_main_block
			.image 1
		.content_right_block
			.about 1
			.terms 1
			.price 1
		.content_bottom_block 5
	.service_block
		.content_main_block
			.image 2
		.content_right_block
			.about 2
			.terms 2
			.price 2
		.content_bottom_block 6
	.service_block
		.content_main_block
			.image 1
		.content_right_block
			.about 1
			.terms 1
			.price 1
		.content_bottom_block 7
	.service_block
		.content_main_block
			.image 2
		.content_right_block
			.about 2
			.terms 2
			.price 2
		.content_bottom_block 8
	.service_block
		.content_main_block
			.image 1
		.content_right_block
			.about 1
			.terms 1
			.price 1
		.content_bottom_block 9