extends ../layout

block title
	title УСЛУГИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)

block content
	.content_title_block Услуги
	.content_left_block
		.select_item рекламная открытка
		.select_item фирменный стиль
		.select_item логотип
		.select_item визитки
		.select_item листовка/флаер
		.select_item билет
		.select_item фирстиль мероприятия
		.select_item буклет
		.select_item инфо-табличка
	.content_main_block
		.image
	.content_right_block
		.about
		.terms
		.price
	.content_bottom_block