extends ../layout

block title
	title УСЛУГИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)

block content
	.content_title_block Услуги
	.content_left_block
		a.select_item(href='#') рекламная открытка
		br
		a.select_item(href='#') фирменный стиль
		br
		a.select_item(href='#') логотип
		br
		a.select_item(href='#') визитки
		br
		a.select_item(href='#') листовка/флаер
		br
		a.select_item(href='#') билет
		br
		a.select_item(href='#') фирстиль мероприятия
		br
		a.select_item(href='#') буклет
		br
		a.select_item(href='#') инфо-табличка
	.content_main_block
		.image 1
		.image 2
		.image 3
	.content_right_block
		.description_block
			.about 1
			.terms 1
			.price 1
		.description_block
			.about 2
			.terms 2
			.price 2
		.description_block
			.about 3
			.terms 3
			.price 3
	.content_bottom_block