.content_block {
	/*min-height: 600px;*/
	/*width: 930px;*/
	/*background-color: white;*/
}

input {
	font-size: 16px;
	margin-left: 3px;
}

textarea {
	font-size: 16px;
	margin-left: 3px;
}

.ru {
	width: 400px;
	display: inline-block;
	margin-right: 10px;
}

.en {
	width: 400px;
	display: none;
}