.content_menu_block {
	overflow: hidden;
	border-bottom: 2px solid #ff7500;
	font: 10pt/12pt 'MyraR';
}

.content_menu_item {
	width: 200px;
	float: left;
	margin-right: 15px;
	/*font-size: 14px;*/
	/*border: 1px solid black;*/
}

.content_images_block {
	margin-top: 15px;
	overflow: hidden;
  -moz-column-width: 200px;
  -webkit-column-width: 200px;
}

.content_images_item {
	width: 200px;
	/*height: 150px;*/
	margin-bottom: 10px;
	margin-right: 15px;
	/*float: left;*/
	display: inline-block;
	cursor: pointer;
	/*border: 1px solid black;*/
}

.up {
	float: right;
}