.main_menu_block {
	overflow: hidden;
	border-bottom: 2px solid black;
}

.main_menu_item {
	width: 200px;
	/*height: 60px;*/
	margin-right: 15px;
	cursor: default;
	float: left;
}

.main_menu_drop {
	width: 190px;
	padding: 5px;
	display: none;
	position: absolute;
}

.main_menu_drop a {
	color: white;
	font-size: 10pt;
}

.works {
	background-color: #9abb31;
}

.projects {
	background-color: #ff3892;
}

.blog {
	background-color: #ff7500;
}

.shop {
	background-color: #00c5c1;
}