a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.maket {
	width: 1280px;
	min-height: 800px;
	border: 1px solid black;
	margin: 0 auto;
}

.main_block {
	width: 870px;
	border: 1px solid black;
}

.main_block {
	padding: 30px;
}

.logo_block {
	width: 200px;
	height: 150px;
	border: 1px solid black;
	float: left;
}

.menu_block {
	margin-left: 15px;
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid black;
}

.social_block {
	width: 150px;
	height: 150px;
	float: right;
	border: 1px solid black;
}

.content_block {
	margin-top: 300px;
	clear: both;
	border: 1px solid black;
}