.content_block {
	overflow: hidden;
}

.content_menu_block {
	overflow: hidden;
	/*font-size: 14px;*/
	border-bottom: 2px solid black;
}

.content_menu_item {
	width: 200px;
	float: left;
	margin-right: 15px;
	/*border: 1px solid black;*/
}

.up {
	float: right;
}

.content_images_block {
	width: 200px;
	margin-top: 15px;
	margin-right: 15px;
	float: left;
	/*border: 1px solid black;*/
}

.content_body_block {
	margin-top: 15px;
	width: 630px;
	background-color: #23b094;
	float: left;
	margin-right: 15px;
}

.image_preview {
	width: 630px;
	/*height: 500px;*/
	display: none;
	cursor: pointer;
}

.image {
	width: 200px;
	margin-bottom: 10px;
	cursor: pointer;
}

.content_related_block {
	margin-top: 15px;
	width: 200px;
	float: left;
}

.r_post:nth-child(2n) {
	float: right;
	margin-right: 0px;
}

.r_post {
	width: 95px;
	display: inline-block;
	float: left;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}

.r_post_img {
	width: 95px;
	/*float: left;*/
	/*margin-bottom: 10px;*/
	/*margin-right: 10px;*/
}