.content_block {
	overflow: hidden;
}

.content_menu_block {
	overflow: hidden;
	border-bottom: 2px solid #ff3892;
	font: 10pt/12pt 'MyraR';
}

.content_menu_item {
	width: 200px;
	float: left;
	margin-right: 15px;
	/*border: 1px solid black;*/
}

.up {
	float: right;
}

.project_body_block {
	margin-top: 15px;
	width: 630px;
	float: left;
	margin-right: 15px;
	background-color: #b09640;
}

.project_preview_block {
	display: none;
	width: 630px;
	cursor: pointer;
}

.project_images_block {
	margin-top: 15px;
	width: 415px;
	float: left;
	background-color: #b06287;
}

.image:nth-child(2n) {
	float: right;
	margin-right: 0px;
}

.image {
	width: 200px;
	display: inline-block;
	float: left;
	cursor: pointer;
	margin-right: 15px;
	margin-bottom: 10px;
}