.content_block {
	overflow: hidden;
}

.content_title_block {
	width: 100%;
	/*border: 1px solid red;*/
	border-bottom: 2px;
	border-color: red;
}

.image {
	width: 630px;
	height: 500px;
	background-color: #b05243
}

.about {
	width: 200px;
	height: 50px;
	float: left;
	background-color: #4c6db0
}

.terms {
	width: 200px;
	height: 50px;
	margin-top: 310px;
	float: left;
	background-color: #4c6db0
}

.price {
	width: 200px;
	height: 50px;
	margin-top: 20px;
	float: left;
	background-color: #4c6db0
}

.content_left_block {
	width: 200px;
	float: left;
	margin-right: 15px;
	background-color: #40a9b0;
}

.content_main_block  {
	width: 630px;
	float: left;
	margin-right: 15px;
}

.content_right_block {
	width: 200px;
	float: left;
}

.content_bottom_block {
	width: 845px;
	margin-left: 215px;
	min-height: 150px;
	background-color: #7cb069;
	clear: both;
}